* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}
.navbar{
   height: 10vh;
}
.colorspink{
    background-color: pink;
}
.colorspinkdark{
    background-color: rgb(247, 156, 171);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
 

} 
#submit{
width: 25vw;
border-radius: 8px;
background-color:pink;
}
#submit:focus{
    background-color: white;
}

 header picture{
    width: 30%;
} 
.fotologo{
    width: 200px;

}
.navbar-toggler{
    display: none;
    
}


 .barranav {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

 .barranav li {
    padding: 10px;
    background-color: rgba(235, 80, 132, 0.468);
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);


}

#checkCategories{
    display: flex;
    flex-direction: row;
    align-items: center;



}

#checkCategories label, input{
font-size: 12px;
}
#titulo{
    font-size: 3em;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


li a {
    color: black;
    font-size: 1em;
    font-weight: bolder;
    padding: 12px;
    text-decoration:none;
}

.Home {
    width: 100%;
    height: 10vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(to left, transparent 20% , rgba(235, 80, 132, 0.468));

}
.Home h1 {
    font-size: 4em;
}

.Home i {
    font-size: 2em;
    color:rgba(173, 6, 61, 0.923);
}

.container {
    width: 100%;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.SeccionUno{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.enviar {
    width: 40px;
    background-color: rgba(235, 80, 132, 0.468);
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.SeccionDos {
    width: 100%;
    height: auto;
    min-height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.tarjetas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.targetUnic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 250px;
    height: 350px;
    border: rgba(235, 80, 132) solid 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease, 0.3s ease;
}
.targetUnic:hover{
    width: 252px;
    box-shadow: 2px 2px 4px black;
     transform: translateX(-2px);
}

.tarjetas img{
    width:100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;

}
.tarjetabaja{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tarjetabaja input{
    width: 80px;
    background-color: rgba(235, 80, 132, 0.468);
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
h2{
    font-size: 1.2em;
}



footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}
footer div{
    height: 100%
}
footer ul{
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    
}
footer i{
    font-size: 3em;
    color: rgba(173, 6, 61, 0.923);
}
footer p{
    padding-right: 20px;
    font-size: 1em;
    color: rgba(173, 6, 61, 0.923);
}
@media screen and (max-width:1080px) {
    .container {

        margin-bottom: 120px;
    }
    
    form div{
       margin-left: 30%;
    }
    .SeccionDos{
        margin-top: 20px;
    }
    .SeccionUno label{
        font-size: 10px;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: pink;
        width: 100%;
        height: auto;
        display: flex;
        background-color: pink;
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
    .navbar-toggler{
        display:initial;
        position: absolute;
        right: 10px;
        top: 10px;
        
    }
    .barranav{
        display: none;
        height: 10px;
    }

    #checkCategories label, input{
        font-size: 10px;
    }
    
}
@media screen and (max-width: 450px) {
    footer i{
        font-size: 30px;
        color: rgba(173, 6, 61, 0.923);
    }

    #titulo{
        font-size: 1.8em;
    }
    #checkCategories label{
        font-size: 5px;
    }

    .SeccionUno{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    #submit{
        width: 40vw;
        height: 20px;
        margin-bottom: 5px;
    }
 

}


