table{
    width: 100vw;
    height: auto;
    border: 2px black solid;

}
table td{
    border: 2px black solid;
    padding-right: 100px;
}
.tabla td{
    color:black;
    text-align: center;

    font-weight: bolder;
}
th{
    background-color:rgba(235, 80, 132);
    color: black;
}
main{
    height: 70vh;
}

@media screen and (max-width: 550px) {
   table{
    margin-left: 250px;
   }

}
